.sprite-champions-MasterYi{ background:url('champions.png') no-repeat 0px 0px;width:120px; height:120px;}
.sprite-champions-Ashe{ background:url('champions.png') no-repeat -120px 0px;width:120px; height:120px;}
.sprite-champions-Nocturne{ background:url('champions.png') no-repeat 0px -120px;width:120px; height:120px;}
.sprite-champions-Gragas{ background:url('champions.png') no-repeat -120px -120px;width:120px; height:120px;}
.sprite-champions-Riven{ background:url('champions.png') no-repeat -240px 0px;width:120px; height:120px;}
.sprite-champions-Taric{ background:url('champions.png') no-repeat -240px -120px;width:120px; height:120px;}
.sprite-champions-Heimerdinger{ background:url('champions.png') no-repeat 0px -240px;width:120px; height:120px;}
.sprite-champions-Poppy{ background:url('champions.png') no-repeat -120px -240px;width:120px; height:120px;}
.sprite-champions-Trundle{ background:url('champions.png') no-repeat -240px -240px;width:120px; height:120px;}
.sprite-champions-Soraka{ background:url('champions.png') no-repeat -360px 0px;width:120px; height:120px;}
.sprite-champions-Tristana{ background:url('champions.png') no-repeat -360px -120px;width:120px; height:120px;}
.sprite-champions-Zilean{ background:url('champions.png') no-repeat -360px -240px;width:120px; height:120px;}
.sprite-champions-Garen{ background:url('champions.png') no-repeat 0px -360px;width:120px; height:120px;}
.sprite-champions-Lux{ background:url('champions.png') no-repeat -120px -360px;width:120px; height:120px;}
.sprite-champions-Maokai{ background:url('champions.png') no-repeat -240px -360px;width:120px; height:120px;}
.sprite-champions-Warwick{ background:url('champions.png') no-repeat -360px -360px;width:120px; height:120px;}
.sprite-champions-Blitzcrank{ background:url('champions.png') no-repeat -480px 0px;width:120px; height:120px;}
.sprite-champions-Corki{ background:url('champions.png') no-repeat -480px -120px;width:120px; height:120px;}
.sprite-champions-Sona{ background:url('champions.png') no-repeat -480px -240px;width:120px; height:120px;}
.sprite-champions-Swain{ background:url('champions.png') no-repeat -480px -360px;width:120px; height:120px;}
.sprite-champions-Janna{ background:url('champions.png') no-repeat 0px -480px;width:120px; height:120px;}
.sprite-champions-Shaco{ background:url('champions.png') no-repeat -120px -480px;width:120px; height:120px;}
.sprite-champions-Caitlyn{ background:url('champions.png') no-repeat -240px -480px;width:120px; height:120px;}
.sprite-champions-Nidalee{ background:url('champions.png') no-repeat -360px -480px;width:120px; height:120px;}
.sprite-champions-Morgana{ background:url('champions.png') no-repeat -480px -480px;width:120px; height:120px;}
.sprite-champions-Sion{ background:url('champions.png') no-repeat -600px 0px;width:120px; height:120px;}
.sprite-champions-Kennen{ background:url('champions.png') no-repeat -600px -120px;width:120px; height:120px;}
.sprite-champions-Karthus{ background:url('champions.png') no-repeat -600px -240px;width:120px; height:120px;}
.sprite-champions-Xerath{ background:url('champions.png') no-repeat -600px -360px;width:120px; height:120px;}
.sprite-champions-Ezreal{ background:url('champions.png') no-repeat -600px -480px;width:120px; height:120px;}
.sprite-champions-Kayle{ background:url('champions.png') no-repeat 0px -600px;width:120px; height:120px;}
.sprite-champions-Teemo{ background:url('champions.png') no-repeat -120px -600px;width:120px; height:120px;}
.sprite-champions-Nautilus{ background:url('champions.png') no-repeat -240px -600px;width:120px; height:120px;}
.sprite-champions-Urgot{ background:url('champions.png') no-repeat -360px -600px;width:120px; height:120px;}
.sprite-champions-Alistar{ background:url('champions.png') no-repeat -480px -600px;width:120px; height:120px;}
.sprite-champions-Ziggs{ background:url('champions.png') no-repeat -600px -600px;width:120px; height:120px;}
.sprite-champions-Annie{ background:url('champions.png') no-repeat -720px 0px;width:120px; height:120px;}
.sprite-champions-LeeSin{ background:url('champions.png') no-repeat -720px -120px;width:120px; height:120px;}
.sprite-champions-Cassiopeia{ background:url('champions.png') no-repeat -720px -240px;width:120px; height:120px;}
.sprite-champions-Yorick{ background:url('champions.png') no-repeat -720px -360px;width:120px; height:120px;}
.sprite-champions-Graves{ background:url('champions.png') no-repeat -720px -480px;width:120px; height:120px;}
.sprite-champions-Shyvana{ background:url('champions.png') no-repeat -720px -600px;width:120px; height:120px;}
.sprite-champions-Malphite{ background:url('champions.png') no-repeat 0px -720px;width:120px; height:120px;}
.sprite-champions-Anivia{ background:url('champions.png') no-repeat -120px -720px;width:120px; height:120px;}
.sprite-champions-Fiora{ background:url('champions.png') no-repeat -240px -720px;width:120px; height:120px;}
.sprite-champions-Vladimir{ background:url('champions.png') no-repeat -360px -720px;width:120px; height:120px;}
.sprite-champions-Gangplank{ background:url('champions.png') no-repeat -480px -720px;width:120px; height:120px;}
.sprite-champions-Talon{ background:url('champions.png') no-repeat -600px -720px;width:120px; height:120px;}
.sprite-champions-Evelynn{ background:url('champions.png') no-repeat -720px -720px;width:120px; height:120px;}
.sprite-champions-Skarner{ background:url('champions.png') no-repeat -840px 0px;width:120px; height:120px;}
.sprite-champions-Viktor{ background:url('champions.png') no-repeat -840px -120px;width:120px; height:120px;}
.sprite-champions-Orianna{ background:url('champions.png') no-repeat -840px -240px;width:120px; height:120px;}
.sprite-champions-Ryze{ background:url('champions.png') no-repeat -840px -360px;width:120px; height:120px;}
.sprite-champions-Fizz{ background:url('champions.png') no-repeat -840px -480px;width:120px; height:120px;}
.sprite-champions-Malzahar{ background:url('champions.png') no-repeat -840px -600px;width:120px; height:120px;}
.sprite-champions-Karma{ background:url('champions.png') no-repeat -840px -720px;width:120px; height:120px;}
.sprite-champions-Twitch{ background:url('champions.png') no-repeat 0px -840px;width:120px; height:120px;}
.sprite-champions-DrMundo{ background:url('champions.png') no-repeat -120px -840px;width:120px; height:120px;}
.sprite-champions-Amumu{ background:url('champions.png') no-repeat -240px -840px;width:120px; height:120px;}
.sprite-champions-MonkeyKing{ background:url('champions.png') no-repeat -360px -840px;width:120px; height:120px;}
.sprite-champions-Shen{ background:url('champions.png') no-repeat -480px -840px;width:120px; height:120px;}
.sprite-champions-Lulu{ background:url('champions.png') no-repeat -600px -840px;width:120px; height:120px;}
.sprite-champions-FiddleSticks{ background:url('champions.png') no-repeat -720px -840px;width:120px; height:120px;}
.sprite-champions-Leblanc{ background:url('champions.png') no-repeat -840px -840px;width:120px; height:120px;}
.sprite-champions-KogMaw{ background:url('champions.png') no-repeat -960px 0px;width:120px; height:120px;}
.sprite-champions-Rammus{ background:url('champions.png') no-repeat -960px -120px;width:120px; height:120px;}
.sprite-champions-Akali{ background:url('champions.png') no-repeat -960px -240px;width:120px; height:120px;}
.sprite-champions-TwistedFate{ background:url('champions.png') no-repeat -960px -360px;width:120px; height:120px;}
.sprite-champions-Olaf{ background:url('champions.png') no-repeat -960px -480px;width:120px; height:120px;}
.sprite-champions-Singed{ background:url('champions.png') no-repeat -960px -600px;width:120px; height:120px;}
.sprite-champions-Kassadin{ background:url('champions.png') no-repeat -960px -720px;width:120px; height:120px;}
.sprite-champions-Leona{ background:url('champions.png') no-repeat -960px -840px;width:120px; height:120px;}
.sprite-champions-Udyr{ background:url('champions.png') no-repeat 0px -960px;width:120px; height:120px;}
.sprite-champions-MissFortune{ background:url('champions.png') no-repeat -120px -960px;width:120px; height:120px;}
.sprite-champions-Volibear{ background:url('champions.png') no-repeat -240px -960px;width:120px; height:120px;}
.sprite-champions-Ahri{ background:url('champions.png') no-repeat -360px -960px;width:120px; height:120px;}
.sprite-champions-JarvanIV{ background:url('champions.png') no-repeat -480px -960px;width:120px; height:120px;}
.sprite-champions-Mordekaiser{ background:url('champions.png') no-repeat -600px -960px;width:120px; height:120px;}
.sprite-champions-Galio{ background:url('champions.png') no-repeat -720px -960px;width:120px; height:120px;}
.sprite-champions-Irelia{ background:url('champions.png') no-repeat -840px -960px;width:120px; height:120px;}
.sprite-champions-Tryndamere{ background:url('champions.png') no-repeat -960px -960px;width:120px; height:120px;}
.sprite-champions-Sivir{ background:url('champions.png') no-repeat -1080px 0px;width:120px; height:120px;}
.sprite-champions-Veigar{ background:url('champions.png') no-repeat -1080px -120px;width:120px; height:120px;}
.sprite-champions-Renekton{ background:url('champions.png') no-repeat -1080px -240px;width:120px; height:120px;}
.sprite-champions-Rumble{ background:url('champions.png') no-repeat -1080px -360px;width:120px; height:120px;}
.sprite-champions-Brand{ background:url('champions.png') no-repeat -1080px -480px;width:120px; height:120px;}
.sprite-champions-Nunu{ background:url('champions.png') no-repeat -1080px -600px;width:120px; height:120px;}
.sprite-champions-Vayne{ background:url('champions.png') no-repeat -1080px -720px;width:120px; height:120px;}
.sprite-champions-Chogath{ background:url('champions.png') no-repeat -1080px -840px;width:120px; height:120px;}
.sprite-champions-Nasus{ background:url('champions.png') no-repeat -1080px -960px;width:120px; height:120px;}
.sprite-champions-Pantheon{ background:url('champions.png') no-repeat 0px -1080px;width:120px; height:120px;}
.sprite-champions-Katarina{ background:url('champions.png') no-repeat -120px -1080px;width:120px; height:120px;}
.sprite-champions-Jax{ background:url('champions.png') no-repeat -240px -1080px;width:120px; height:120px;}
.sprite-champions-XinZhao{ background:url('champions.png') no-repeat -360px -1080px;width:120px; height:120px;}
