.sprite-items-2019_Eye_of_the_Beholder{ background:url('items.png') no-repeat 0px 0px;width:32px; height:32px;}
.sprite-items-3094_Orb_of_Intellect{ background:url('items.png') no-repeat -32px 0px;width:32px; height:32px;}
.sprite-items-3084_Widowmaker{ background:url('items.png') no-repeat 0px -32px;width:32px; height:32px;}
.sprite-items-item6{ background:url('items.png') no-repeat -32px -32px;width:32px; height:32px;}
.sprite-items-3089_Banksys_Wizard_Hat{ background:url('items.png') no-repeat -64px 0px;width:32px; height:32px;}
.sprite-items-1033_Elementium_Threaded_Cloak{ background:url('items.png') no-repeat -64px -32px;width:32px; height:32px;}
.sprite-items-3070_Tear_of_the_Goddess{ background:url('items.png') no-repeat 0px -64px;width:32px; height:32px;}
.sprite-items-3200_HexCore{ background:url('items.png') no-repeat -32px -64px;width:32px; height:32px;}
.sprite-items-3069_Sword_of_Light_and_Shadow{ background:url('items.png') no-repeat -64px -64px;width:32px; height:32px;}
.sprite-items-3021_Fleshrender{ background:url('items.png') no-repeat -96px 0px;width:32px; height:32px;}
.sprite-items-1048_Knife{ background:url('items.png') no-repeat -96px -32px;width:32px; height:32px;}
.sprite-items-3072_The_Bloodthirster{ background:url('items.png') no-repeat -96px -64px;width:32px; height:32px;}
.sprite-items-3007_Booms_Guardian_Armor{ background:url('items.png') no-repeat 0px -96px;width:32px; height:32px;}
.sprite-items-3017_Egitai_Twinsoul{ background:url('items.png') no-repeat -32px -96px;width:32px; height:32px;}
.sprite-items-3144_Bilgewater_Cutlass{ background:url('items.png') no-repeat -64px -96px;width:32px; height:32px;}
.sprite-items-3170_Moonflair_Spellblade{ background:url('items.png') no-repeat -96px -96px;width:32px; height:32px;}
.sprite-items-3014_Doppleganker{ background:url('items.png') no-repeat -128px 0px;width:32px; height:32px;}
.sprite-items-2001_Blue_Pill{ background:url('items.png') no-repeat -128px -32px;width:32px; height:32px;}
.sprite-items-1042_Dagger{ background:url('items.png') no-repeat -128px -64px;width:32px; height:32px;}
.sprite-items-3073_Verdant_Force{ background:url('items.png') no-repeat -128px -96px;width:32px; height:32px;}
.sprite-items-2045_Rejuvenation_Potion_4{ background:url('items.png') no-repeat 0px -128px;width:32px; height:32px;}
.sprite-items-item1{ background:url('items.png') no-repeat -32px -128px;width:32px; height:32px;}
.sprite-items-3001_Abyssal_Scepter{ background:url('items.png') no-repeat -64px -128px;width:32px; height:32px;}
.sprite-items-1010_Belt_of_Brute_Strength{ background:url('items.png') no-repeat -96px -128px;width:32px; height:32px;}
.sprite-items-3173_Eleisas_Miracle{ background:url('items.png') no-repeat -128px -128px;width:32px; height:32px;}
.sprite-items-2024_Loosely_Packed_Grenade{ background:url('items.png') no-repeat -160px 0px;width:32px; height:32px;}
.sprite-items-1008_Sash_of_Valor{ background:url('items.png') no-repeat -160px -32px;width:32px; height:32px;}
.sprite-items-3093_Avarice_Blade{ background:url('items.png') no-repeat -160px -64px;width:32px; height:32px;}
.sprite-items-3051_Renewal_Tunic{ background:url('items.png') no-repeat -160px -96px;width:32px; height:32px;}
.sprite-items-3041_Mejais_Soulstealer{ background:url('items.png') no-repeat -160px -128px;width:32px; height:32px;}
.sprite-items-3047_Phase_Striders{ background:url('items.png') no-repeat 0px -160px;width:32px; height:32px;}
.sprite-items-3031_Infinity_Edge{ background:url('items.png') no-repeat -32px -160px;width:32px; height:32px;}
.sprite-items-3116_Rylais_Sceptre{ background:url('items.png') no-repeat -64px -160px;width:32px; height:32px;}
.sprite-items-Icon_Potion03{ background:url('items.png') no-repeat -96px -160px;width:32px; height:32px;}
.sprite-items-3083_Warmog_The_Living_Armor{ background:url('items.png') no-repeat -128px -160px;width:32px; height:32px;}
.sprite-items-3029_Hurricane{ background:url('items.png') no-repeat -160px -160px;width:32px; height:32px;}
.sprite-items-1039_Bastard_Sword{ background:url('items.png') no-repeat -192px 0px;width:32px; height:32px;}
.sprite-items-3034_Kenyus_Kukri{ background:url('items.png') no-repeat -192px -32px;width:32px; height:32px;}
.sprite-items-2017_Greater_Healing_Potion{ background:url('items.png') no-repeat -192px -64px;width:32px; height:32px;}
.sprite-items-3044_Phage{ background:url('items.png') no-repeat -192px -96px;width:32px; height:32px;}
.sprite-items-3185_Lightbringer{ background:url('items.png') no-repeat -192px -128px;width:32px; height:32px;}
.sprite-items-cornerMask{ background:url('items.png') no-repeat -192px -160px;width:32px; height:32px;}
.sprite-items-055_Borses_Staff_of_Apocalypse{ background:url('items.png') no-repeat 0px -192px;width:32px; height:32px;}
.sprite-items-3056_Shadows_Ire{ background:url('items.png') no-repeat -32px -192px;width:32px; height:32px;}
.sprite-items-2042_Rejuvenation_Potion_1{ background:url('items.png') no-repeat -64px -192px;width:32px; height:32px;}
.sprite-items-2028_Exquisite_Candy{ background:url('items.png') no-repeat -96px -192px;width:32px; height:32px;}
.sprite-items-1036_Long_Sword{ background:url('items.png') no-repeat -128px -192px;width:32px; height:32px;}
.sprite-items-2038_Potion_of_Elusiveness{ background:url('items.png') no-repeat -160px -192px;width:32px; height:32px;}
.sprite-items-3112_Wizards_Regalia{ background:url('items.png') no-repeat -192px -192px;width:32px; height:32px;}
.sprite-items-1014_Sages_Ring{ background:url('items.png') no-repeat -224px 0px;width:32px; height:32px;}
.sprite-items-3063_Soul_Shroud{ background:url('items.png') no-repeat -224px -32px;width:32px; height:32px;}
.sprite-items-1044_Composite_Bow{ background:url('items.png') no-repeat -224px -64px;width:32px; height:32px;}
.sprite-items-1052_Amplifying_Scepter{ background:url('items.png') no-repeat -224px -96px;width:32px; height:32px;}
.sprite-items-1001_Boots_of_Speed{ background:url('items.png') no-repeat -224px -128px;width:32px; height:32px;}
.sprite-items-3078_Trinity_Force{ background:url('items.png') no-repeat -224px -160px;width:32px; height:32px;}
.sprite-items-3016_Eaglestrike{ background:url('items.png') no-repeat -224px -192px;width:32px; height:32px;}
.sprite-items-3180_OdynsVeil{ background:url('items.png') no-repeat 0px -224px;width:32px; height:32px;}
.sprite-items-item5{ background:url('items.png') no-repeat -32px -224px;width:32px; height:32px;}
.sprite-items-3082_Wardens_Mail{ background:url('items.png') no-repeat -64px -224px;width:32px; height:32px;}
.sprite-items-1012_Clever_Hoop{ background:url('items.png') no-repeat -96px -224px;width:32px; height:32px;}
.sprite-items-3115_Nashors_Tooth{ background:url('items.png') no-repeat -128px -224px;width:32px; height:32px;}
.sprite-items-3090_Thoughtbreaker{ background:url('items.png') no-repeat -160px -224px;width:32px; height:32px;}
.sprite-items-Eggnog_Potion{ background:url('items.png') no-repeat -192px -224px;width:32px; height:32px;}
.sprite-items-3196_AugmentQ{ background:url('items.png') no-repeat -224px -224px;width:32px; height:32px;}
.sprite-items-3198_AugmentE{ background:url('items.png') no-repeat -256px 0px;width:32px; height:32px;}
.sprite-items-113_Tome_of_Minor_Necro_Compulsion{ background:url('items.png') no-repeat -256px -32px;width:32px; height:32px;}
.sprite-items-3015_Duskbringer{ background:url('items.png') no-repeat -256px -64px;width:32px; height:32px;}
.sprite-items-1028_Ruby_Sphere{ background:url('items.png') no-repeat -256px -96px;width:32px; height:32px;}
.sprite-items-3187_HextechSweeper{ background:url('items.png') no-repeat -256px -128px;width:32px; height:32px;}
.sprite-items-176_Rogues_Chucks{ background:url('items.png') no-repeat -256px -160px;width:32px; height:32px;}
.sprite-items-3058_Sheen_and_Phage{ background:url('items.png') no-repeat -256px -192px;width:32px; height:32px;}
.sprite-items-3085_Wrathfire_Crossbow{ background:url('items.png') no-repeat -256px -224px;width:32px; height:32px;}
.sprite-items-3013_Disruption_Rod{ background:url('items.png') no-repeat 0px -256px;width:32px; height:32px;}
.sprite-items-3172_Cloak_and_Dagger{ background:url('items.png') no-repeat -32px -256px;width:32px; height:32px;}
.sprite-items-1043_Steel_Stiletto{ background:url('items.png') no-repeat -64px -256px;width:32px; height:32px;}
.sprite-items-3138_Leviathan{ background:url('items.png') no-repeat -96px -256px;width:32px; height:32px;}
.sprite-items-126_Zeal_and_Sheen{ background:url('items.png') no-repeat -128px -256px;width:32px; height:32px;}
.sprite-items-3183_PrisillasBlessing{ background:url('items.png') no-repeat -160px -256px;width:32px; height:32px;}
.sprite-items-3024_Glacial_Shroud{ background:url('items.png') no-repeat -192px -256px;width:32px; height:32px;}
.sprite-items-3087_Zeal_and_Sheen{ background:url('items.png') no-repeat -224px -256px;width:32px; height:32px;}
.sprite-items-034_Steel_Shield{ background:url('items.png') no-repeat -256px -256px;width:32px; height:32px;}
.sprite-items-3011_Dawnseeker{ background:url('items.png') no-repeat -288px 0px;width:32px; height:32px;}
.sprite-items-1035_Short_Sword{ background:url('items.png') no-repeat -288px -32px;width:32px; height:32px;}
.sprite-items-3075_Thornmail{ background:url('items.png') no-repeat -288px -64px;width:32px; height:32px;}
.sprite-items-2032_Healing_Totem{ background:url('items.png') no-repeat -288px -96px;width:32px; height:32px;}
.sprite-items-1006_Rejuvenation_Bead{ background:url('items.png') no-repeat -288px -128px;width:32px; height:32px;}
.sprite-items-059_Sheen{ background:url('items.png') no-repeat -288px -160px;width:32px; height:32px;}
.sprite-items-2046_Rejuvenation_Potion_5{ background:url('items.png') no-repeat -288px -192px;width:32px; height:32px;}
.sprite-items-3091_Wits_End{ background:url('items.png') no-repeat -288px -224px;width:32px; height:32px;}
.sprite-items-3076_Threshers_Wrath{ background:url('items.png') no-repeat -288px -256px;width:32px; height:32px;}
.sprite-items-3060_Skull_Crusher{ background:url('items.png') no-repeat 0px -288px;width:32px; height:32px;}
.sprite-items-PetAttack{ background:url('items.png') no-repeat -32px -288px;width:32px; height:32px;}
.sprite-items-066_Sindoran_Shielding_Amulet{ background:url('items.png') no-repeat -64px -288px;width:32px; height:32px;}
.sprite-items-3145_Hextech_Revolver{ background:url('items.png') no-repeat -96px -288px;width:32px; height:32px;}
.sprite-items-3071_The_Black_Cleaver{ background:url('items.png') no-repeat -128px -288px;width:32px; height:32px;}
.sprite-items-3033_Kardels_Aim{ background:url('items.png') no-repeat -160px -288px;width:32px; height:32px;}
.sprite-items-1041_Long_Staff{ background:url('items.png') no-repeat -192px -288px;width:32px; height:32px;}
.sprite-items-1019_Sleek_Wrap_of_Celerity{ background:url('items.png') no-repeat -224px -288px;width:32px; height:32px;}
.sprite-items-3036_Leeroys_Charge{ background:url('items.png') no-repeat -256px -288px;width:32px; height:32px;}
.sprite-items-082_Rune_of_Rebirth{ background:url('items.png') no-repeat -288px -288px;width:32px; height:32px;}
.sprite-items-3010_Catalyst_the_Protector{ background:url('items.png') no-repeat -320px 0px;width:32px; height:32px;}
.sprite-items-1037_Broadsword{ background:url('items.png') no-repeat -320px -32px;width:32px; height:32px;}
.sprite-items-Icon_Potion02{ background:url('items.png') no-repeat -320px -64px;width:32px; height:32px;}
.sprite-items-3068_Sunfire_Cape{ background:url('items.png') no-repeat -320px -96px;width:32px; height:32px;}
.sprite-items-2036_Tome_of_Minor_Necro_Compulsion{ background:url('items.png') no-repeat -320px -128px;width:32px; height:32px;}
.sprite-items-2044_Rejuvenation_Potion_3{ background:url('items.png') no-repeat -320px -160px;width:32px; height:32px;}
.sprite-items-3018_Elementium_Woven_Mantle{ background:url('items.png') no-repeat -320px -192px;width:32px; height:32px;}
.sprite-items-2009_Scroll_of_Speed{ background:url('items.png') no-repeat -320px -224px;width:32px; height:32px;}
.sprite-items-3035_Last_Whisper{ background:url('items.png') no-repeat -320px -256px;width:32px; height:32px;}
.sprite-items-3062_Soul_Pendant{ background:url('items.png') no-repeat -320px -288px;width:32px; height:32px;}
.sprite-items-073_Zettas_Mana-Stick{ background:url('items.png') no-repeat 0px -320px;width:32px; height:32px;}
.sprite-items-2002_Scroll_of_Teleport{ background:url('items.png') no-repeat -32px -320px;width:32px; height:32px;}
.sprite-items-122_Frozen_Heart{ background:url('items.png') no-repeat -64px -320px;width:32px; height:32px;}
.sprite-items-3143_Randuins_Omen{ background:url('items.png') no-repeat -96px -320px;width:32px; height:32px;}
.sprite-items-3181_SanguineBlade{ background:url('items.png') no-repeat -128px -320px;width:32px; height:32px;}
.sprite-items-3009_Boots_of_Teleportation{ background:url('items.png') no-repeat -160px -320px;width:32px; height:32px;}
.sprite-items-3038_Mech{ background:url('items.png') no-repeat -192px -320px;width:32px; height:32px;}
.sprite-items-3054_Scepter_of_Death{ background:url('items.png') no-repeat -224px -320px;width:32px; height:32px;}
.sprite-items-1063_ProspectorsRing{ background:url('items.png') no-repeat -256px -320px;width:32px; height:32px;}
.sprite-items-3184_FrozenWarhammer{ background:url('items.png') no-repeat -288px -320px;width:32px; height:32px;}
.sprite-items-3004_Manamune{ background:url('items.png') no-repeat -320px -320px;width:32px; height:32px;}
.sprite-items-3006_Berserkers_Greaves{ background:url('items.png') no-repeat -352px 0px;width:32px; height:32px;}
.sprite-items-1005_Meki_Pendant{ background:url('items.png') no-repeat -352px -32px;width:32px; height:32px;}
.sprite-items-033_Buckler{ background:url('items.png') no-repeat -352px -64px;width:32px; height:32px;}
.sprite-items-1058_Needlessly_Large_Wand{ background:url('items.png') no-repeat -352px -96px;width:32px; height:32px;}
.sprite-items-2008_Tome_of_Combat_Mastery{ background:url('items.png') no-repeat -352px -128px;width:32px; height:32px;}
.sprite-items-3197_AugmentW{ background:url('items.png') no-repeat -352px -160px;width:32px; height:32px;}
.sprite-items-3067_Strygwyrs_Reaver{ background:url('items.png') no-repeat -352px -192px;width:32px; height:32px;}
.sprite-items-037_Big_Stick{ background:url('items.png') no-repeat -352px -224px;width:32px; height:32px;}
.sprite-items-3069_Shurelyas_Firecrest{ background:url('items.png') no-repeat -352px -256px;width:32px; height:32px;}
.sprite-items-item3{ background:url('items.png') no-repeat -352px -288px;width:32px; height:32px;}
.sprite-items-3126_Madreds_Bloodrazor{ background:url('items.png') no-repeat -352px -320px;width:32px; height:32px;}
.sprite-items-3066_Starks_Fervor{ background:url('items.png') no-repeat 0px -352px;width:32px; height:32px;}
.sprite-items-3005_Atmas_Impaler{ background:url('items.png') no-repeat -32px -352px;width:32px; height:32px;}
.sprite-items-3077_Tiamat{ background:url('items.png') no-repeat -64px -352px;width:32px; height:32px;}
.sprite-items-3059_Sindoran_Shielding_Amulet{ background:url('items.png') no-repeat -96px -352px;width:32px; height:32px;}
.sprite-items-3042_Netherrift_Armor{ background:url('items.png') no-repeat -128px -352px;width:32px; height:32px;}
.sprite-items-3049_Prismatic_Sphere{ background:url('items.png') no-repeat -160px -352px;width:32px; height:32px;}
.sprite-items-3146_Hextech_Gunblade{ background:url('items.png') no-repeat -192px -352px;width:32px; height:32px;}
.sprite-items-2026_Arcane_Protection_Potion{ background:url('items.png') no-repeat -224px -352px;width:32px; height:32px;}
.sprite-items-3045_Phage_and_Zeal{ background:url('items.png') no-repeat -256px -352px;width:32px; height:32px;}
.sprite-items-096_Eye_of_the_Observer{ background:url('items.png') no-repeat -288px -352px;width:32px; height:32px;}
.sprite-items-3178_IonicSpark{ background:url('items.png') no-repeat -320px -352px;width:32px; height:32px;}
.sprite-items-2043_Rejuvenation_Potion_2{ background:url('items.png') no-repeat -352px -352px;width:32px; height:32px;}
.sprite-items-Eggnog_HealthPotion{ background:url('items.png') no-repeat -384px 0px;width:32px; height:32px;}
.sprite-items-3003_Archangels_Staff_of_Apocalypse{ background:url('items.png') no-repeat -384px -32px;width:32px; height:32px;}
.sprite-items-1062_ProspectorsBlade{ background:url('items.png') no-repeat -384px -64px;width:32px; height:32px;}
.sprite-items-1027_Sapphire_Sphere{ background:url('items.png') no-repeat -384px -96px;width:32px; height:32px;}
.sprite-items-3095_Orb_of_Valor{ background:url('items.png') no-repeat -384px -128px;width:32px; height:32px;}
.sprite-items-3026_Guardian_Angel{ background:url('items.png') no-repeat -384px -160px;width:32px; height:32px;}
.sprite-items-3032_Innervating_Locket{ background:url('items.png') no-repeat -384px -192px;width:32px; height:32px;}
.sprite-items-165_Harmony_Ring{ background:url('items.png') no-repeat -384px -224px;width:32px; height:32px;}
.sprite-items-3065_Spirit_Visage{ background:url('items.png') no-repeat -384px -256px;width:32px; height:32px;}
.sprite-items-3043_Pablitos_Wand_of_Humility{ background:url('items.png') no-repeat -384px -288px;width:32px; height:32px;}
.sprite-items-3155_Hexdrinker{ background:url('items.png') no-repeat -384px -320px;width:32px; height:32px;}
.sprite-items-3154_WriggleLantern{ background:url('items.png') no-repeat -384px -352px;width:32px; height:32px;}
.sprite-items-2006_Tome_of_Retraining{ background:url('items.png') no-repeat 0px -384px;width:32px; height:32px;}
.sprite-items-3067_Kindlegem{ background:url('items.png') no-repeat -32px -384px;width:32px; height:32px;}
.sprite-items-3050_Rallying_Banner{ background:url('items.png') no-repeat -64px -384px;width:32px; height:32px;}
.sprite-items-3061_Sorcerers_Shoes{ background:url('items.png') no-repeat -96px -384px;width:32px; height:32px;}
.sprite-items-3057_Sheen{ background:url('items.png') no-repeat -128px -384px;width:32px; height:32px;}
.sprite-items-3040_Megaton_Mallet{ background:url('items.png') no-repeat -160px -384px;width:32px; height:32px;}
.sprite-items-2003_Regeneration_Potion{ background:url('items.png') no-repeat -192px -384px;width:32px; height:32px;}
.sprite-items-2018_Greater_Mana_Potion{ background:url('items.png') no-repeat -224px -384px;width:32px; height:32px;}
.sprite-items-3157_Zhonyas_Hourglass{ background:url('items.png') no-repeat -256px -384px;width:32px; height:32px;}
.sprite-items-3020_Flamewalkers{ background:url('items.png') no-repeat -288px -384px;width:32px; height:32px;}
.sprite-items-1011_Mighty_Waistband_of_the_Reaver{ background:url('items.png') no-repeat -320px -384px;width:32px; height:32px;}
.sprite-items-Icon_Potion01{ background:url('items.png') no-repeat -352px -384px;width:32px; height:32px;}
.sprite-items-1051_Brawlers_Gloves{ background:url('items.png') no-repeat -384px -384px;width:32px; height:32px;}
.sprite-items-1020_Glowing_Orb{ background:url('items.png') no-repeat -416px 0px;width:32px; height:32px;}
.sprite-items-2041_Bag_of_Tea{ background:url('items.png') no-repeat -416px -32px;width:32px; height:32px;}
.sprite-items-3037_Mana_Manipulator{ background:url('items.png') no-repeat -416px -64px;width:32px; height:32px;}
.sprite-items-161_Elementium_Woven_Mantle{ background:url('items.png') no-repeat -416px -96px;width:32px; height:32px;}
.sprite-items-item2{ background:url('items.png') no-repeat -416px -128px;width:32px; height:32px;}
.sprite-items-1022_Ancestral_Pendant{ background:url('items.png') no-repeat -416px -160px;width:32px; height:32px;}
.sprite-items-3089_Zhonyas_Ring_of_the_Mindreamer{ background:url('items.png') no-repeat -416px -192px;width:32px; height:32px;}
.sprite-items-3052_Reverb_Coil{ background:url('items.png') no-repeat -416px -224px;width:32px; height:32px;}
.sprite-items-3165_Noxusnomicon{ background:url('items.png') no-repeat -416px -256px;width:32px; height:32px;}
.sprite-items-139_Strygwyrs_Reaver{ background:url('items.png') no-repeat -416px -288px;width:32px; height:32px;}
.sprite-items-3025_Gladiators_Pride{ background:url('items.png') no-repeat -416px -320px;width:32px; height:32px;}
.sprite-items-1007_Regrowth_Pendant{ background:url('items.png') no-repeat -416px -352px;width:32px; height:32px;}
.sprite-items-item4{ background:url('items.png') no-repeat -416px -384px;width:32px; height:32px;}
.sprite-items-2004_Flask_of_Crystal_Water{ background:url('items.png') no-repeat 0px -416px;width:32px; height:32px;}
.sprite-items-3088_Zettas_Mana-Stick{ background:url('items.png') no-repeat -32px -416px;width:32px; height:32px;}
.sprite-items-3142_Youmus_Spectral_Blade{ background:url('items.png') no-repeat -64px -416px;width:32px; height:32px;}
.sprite-items-1031_Chain_Vest{ background:url('items.png') no-repeat -96px -416px;width:32px; height:32px;}
.sprite-items-2030_Sharpening_Stone{ background:url('items.png') no-repeat -128px -416px;width:32px; height:32px;}
.sprite-items-3004_Assault_Treads{ background:url('items.png') no-repeat -160px -416px;width:32px; height:32px;}
.sprite-items-1004_Faerie_Charm{ background:url('items.png') no-repeat -192px -416px;width:32px; height:32px;}
.sprite-items-3046_Phantom_Dancer{ background:url('items.png') no-repeat -224px -416px;width:32px; height:32px;}
.sprite-items-2037_Potion_of_Giant_Strength{ background:url('items.png') no-repeat -256px -416px;width:32px; height:32px;}
.sprite-items-3158_Ionian_Boots_of_Lucidity{ background:url('items.png') no-repeat -288px -416px;width:32px; height:32px;}
.sprite-items-2039_Potion_of_Brilliance{ background:url('items.png') no-repeat -320px -416px;width:32px; height:32px;}
.sprite-items-1029_Cloth_Armour{ background:url('items.png') no-repeat -352px -416px;width:32px; height:32px;}
.sprite-items-3002_Ahrimans_Insight{ background:url('items.png') no-repeat -384px -416px;width:32px; height:32px;}
.sprite-items-3039_Mechanism{ background:url('items.png') no-repeat -416px -416px;width:32px; height:32px;}
.sprite-items-124_Gladiators_Pride{ background:url('items.png') no-repeat -448px 0px;width:32px; height:32px;}
.sprite-items-1018_Cloak_of_Agility{ background:url('items.png') no-repeat -448px -32px;width:32px; height:32px;}
.sprite-items-1015_Brilliant_Circle_of_the_Magi{ background:url('items.png') no-repeat -448px -64px;width:32px; height:32px;}
.sprite-items-EmptyIcon{ background:url('items.png') no-repeat -448px -96px;width:32px; height:32px;}
.sprite-items-3030_Infernos_Justice{ background:url('items.png') no-repeat -448px -128px;width:32px; height:32px;}
.sprite-items-3028_Harmony_Ring{ background:url('items.png') no-repeat -448px -160px;width:32px; height:32px;}
.sprite-items-3022_Frozen_Heart{ background:url('items.png') no-repeat -448px -192px;width:32px; height:32px;}
.sprite-items-1038_BF_Sword{ background:url('items.png') no-repeat -448px -224px;width:32px; height:32px;}
.sprite-items-2047_OraclesExtract{ background:url('items.png') no-repeat -448px -256px;width:32px; height:32px;}
.sprite-items-3023_Galeforce{ background:url('items.png') no-repeat -448px -288px;width:32px; height:32px;}
.sprite-items-1026_Blasting_Band{ background:url('items.png') no-repeat -448px -320px;width:32px; height:32px;}
.sprite-items-1024_Byfire_Bracer{ background:url('items.png') no-repeat -448px -352px;width:32px; height:32px;}
.sprite-items-3081_Vindicators_Embrace{ background:url('items.png') no-repeat -448px -384px;width:32px; height:32px;}
.sprite-items-3114_Malady{ background:url('items.png') no-repeat -448px -416px;width:32px; height:32px;}
.sprite-items-3027_Guinsoos_Rod_of_Oblivion{ background:url('items.png') no-repeat 0px -448px;width:32px; height:32px;}
.sprite-items-1034_Big_Stick{ background:url('items.png') no-repeat -32px -448px;width:32px; height:32px;}
.sprite-items-3086_Zeal{ background:url('items.png') no-repeat -64px -448px;width:32px; height:32px;}
.sprite-items-3008_Boots_of_Swiftness{ background:url('items.png') no-repeat -96px -448px;width:32px; height:32px;}
.sprite-items-3186_KitaesBloodrazor{ background:url('items.png') no-repeat -128px -448px;width:32px; height:32px;}
.sprite-items-3064_Spike_the_Ripper{ background:url('items.png') no-repeat -160px -448px;width:32px; height:32px;}
