.sprite-spells-Unknown{ background:url('spells.png') no-repeat 0px 0px;width:64px; height:64px;}
.sprite-spells-Cleanse{ background:url('spells.png') no-repeat -64px 0px;width:32px; height:32px;}
.sprite-spells-Smite{ background:url('spells.png') no-repeat -64px -32px;width:32px; height:32px;}
.sprite-spells-Surge{ background:url('spells.png') no-repeat 0px -64px;width:32px; height:32px;}
.sprite-spells-Clairvoyance{ background:url('spells.png') no-repeat -32px -64px;width:32px; height:32px;}
.sprite-spells-Heal{ background:url('spells.png') no-repeat -64px -64px;width:32px; height:32px;}
.sprite-spells-Observer{ background:url('spells.png') no-repeat -96px 0px;width:32px; height:32px;}
.sprite-spells-Clarity{ background:url('spells.png') no-repeat -96px -32px;width:32px; height:32px;}
.sprite-spells-Stifle{ background:url('spells.png') no-repeat -96px -64px;width:32px; height:32px;}
.sprite-spells-Exhaust{ background:url('spells.png') no-repeat 0px -96px;width:32px; height:32px;}
.sprite-spells-Garrison{ background:url('spells.png') no-repeat -32px -96px;width:32px; height:32px;}
.sprite-spells-Ghost{ background:url('spells.png') no-repeat -64px -96px;width:32px; height:32px;}
.sprite-spells-Ignite{ background:url('spells.png') no-repeat -96px -96px;width:32px; height:32px;}
.sprite-spells-Teleport{ background:url('spells.png') no-repeat -128px 0px;width:32px; height:32px;}
.sprite-spells-Promote{ background:url('spells.png') no-repeat -128px -32px;width:32px; height:32px;}
.sprite-spells-Rally{ background:url('spells.png') no-repeat -128px -64px;width:32px; height:32px;}
.sprite-spells-Fortify{ background:url('spells.png') no-repeat -128px -96px;width:32px; height:32px;}
.sprite-spells-Flash{ background:url('spells.png') no-repeat 0px -128px;width:32px; height:32px;}
.sprite-spells-Revive{ background:url('spells.png') no-repeat -32px -128px;width:32px; height:32px;}
