.thumbnail-Zilean, .thumbnail-Yorick, .thumbnail-XinZhao, .thumbnail-Xerath, .thumbnail-Warwick, .thumbnail-Volibear, .thumbnail-Vladimir, .thumbnail-Viktor, .thumbnail-Veigar, .thumbnail-Vayne, .thumbnail-Urgot, .thumbnail-Udyr, .thumbnail-Twitch, .thumbnail-TwistedFate, .thumbnail-Tryndamere, .thumbnail-Trundle, .thumbnail-Tristana, .thumbnail-Teemo, .thumbnail-Taric, .thumbnail-Talon, .thumbnail-Swain, .thumbnail-Soraka, .thumbnail-Sona, .thumbnail-Skarner, .thumbnail-Sivir, .thumbnail-Sion, .thumbnail-Singed, .thumbnail-Shyvana, .thumbnail-Shen, .thumbnail-Shaco, .thumbnail-Ryze, .thumbnail-Rumble, .thumbnail-Riven, .thumbnail-Renekton, .thumbnail-Rammus, .thumbnail-Poppy, .thumbnail-Pantheon, .thumbnail-Orianna, .thumbnail-Olaf, .thumbnail-Nunu, .thumbnail-Nocturne, .thumbnail-Nidalee, .thumbnail-Nasus, .thumbnail-Morgana, .thumbnail-Mordekaiser, .thumbnail-MonkeyKing, .thumbnail-MissFortune, .thumbnail-MasterYi, .thumbnail-Maokai, .thumbnail-Malzahar, .thumbnail-Malphite, .thumbnail-Lux, .thumbnail-Leona, .thumbnail-LeeSin, .thumbnail-Leblanc, .thumbnail-KogMaw, .thumbnail-Kennen, .thumbnail-Kayle, .thumbnail-Katarina, .thumbnail-Kassadin, .thumbnail-Karthus, .thumbnail-Karma, .thumbnail-Jax, .thumbnail-JarvanIV, .thumbnail-Janna, .thumbnail-Irelia, .thumbnail-Heimerdinger, .thumbnail-Graves, .thumbnail-Gragas, .thumbnail-Garen, .thumbnail-Gangplank, .thumbnail-Galio, .thumbnail-Fizz, .thumbnail-FiddleSticks, .thumbnail-Ezreal, .thumbnail-Evelynn, .thumbnail-DrMundo, .thumbnail-Corki, .thumbnail-Chogath, .thumbnail-Cassiopeia, .thumbnail-Caitlyn, .thumbnail-Brand, .thumbnail-Blitzcrank, .thumbnail-Ashe, .thumbnail-Annie, .thumbnail-Anivia, .thumbnail-Amumu, .thumbnail-Alistar, .thumbnail-Akali, .thumbnail-Ahri {background: url(../img/champion-thumbnail-sprite.png) no-repeat}
.thumbnail-Zilean {background-position: 0 0; width: 40px; height: 40px}
.thumbnail-Yorick {background-position: -40px 0; width: 40px; height: 40px}
.thumbnail-XinZhao {background-position: -80px 0; width: 40px; height: 40px}
.thumbnail-Xerath {background-position: -120px 0; width: 40px; height: 40px}
.thumbnail-Warwick {background-position: -160px 0; width: 40px; height: 40px}
.thumbnail-Volibear {background-position: -200px 0; width: 40px; height: 40px}
.thumbnail-Vladimir {background-position: -240px 0; width: 40px; height: 40px}
.thumbnail-Viktor {background-position: -280px 0; width: 40px; height: 40px}
.thumbnail-Veigar {background-position: -320px 0; width: 40px; height: 40px}
.thumbnail-Vayne {background-position: -360px 0; width: 40px; height: 40px}
.thumbnail-Urgot {background-position: -400px 0; width: 40px; height: 40px}
.thumbnail-Udyr {background-position: -440px 0; width: 40px; height: 40px}
.thumbnail-Twitch {background-position: -480px 0; width: 40px; height: 40px}
.thumbnail-TwistedFate {background-position: -520px 0; width: 40px; height: 40px}
.thumbnail-Tryndamere {background-position: -560px 0; width: 40px; height: 40px}
.thumbnail-Trundle {background-position: -600px 0; width: 40px; height: 40px}
.thumbnail-Tristana {background-position: -640px 0; width: 40px; height: 40px}
.thumbnail-Teemo {background-position: -680px 0; width: 40px; height: 40px}
.thumbnail-Taric {background-position: -720px 0; width: 40px; height: 40px}
.thumbnail-Talon {background-position: -760px 0; width: 40px; height: 40px}
.thumbnail-Swain {background-position: -800px 0; width: 40px; height: 40px}
.thumbnail-Soraka {background-position: -840px 0; width: 40px; height: 40px}
.thumbnail-Sona {background-position: -880px 0; width: 40px; height: 40px}
.thumbnail-Skarner {background-position: -920px 0; width: 40px; height: 40px}
.thumbnail-Sivir {background-position: -960px 0; width: 40px; height: 40px}
.thumbnail-Sion {background-position: -1000px 0; width: 40px; height: 40px}
.thumbnail-Singed {background-position: -1040px 0; width: 40px; height: 40px}
.thumbnail-Shyvana {background-position: -1080px 0; width: 40px; height: 40px}
.thumbnail-Shen {background-position: -1120px 0; width: 40px; height: 40px}
.thumbnail-Shaco {background-position: -1160px 0; width: 40px; height: 40px}
.thumbnail-Ryze {background-position: -1200px 0; width: 40px; height: 40px}
.thumbnail-Rumble {background-position: -1240px 0; width: 40px; height: 40px}
.thumbnail-Riven {background-position: -1280px 0; width: 40px; height: 40px}
.thumbnail-Renekton {background-position: -1320px 0; width: 40px; height: 40px}
.thumbnail-Rammus {background-position: -1360px 0; width: 40px; height: 40px}
.thumbnail-Poppy {background-position: -1400px 0; width: 40px; height: 40px}
.thumbnail-Pantheon {background-position: -1440px 0; width: 40px; height: 40px}
.thumbnail-Orianna {background-position: -1480px 0; width: 40px; height: 40px}
.thumbnail-Olaf {background-position: -1520px 0; width: 40px; height: 40px}
.thumbnail-Nunu {background-position: -1560px 0; width: 40px; height: 40px}
.thumbnail-Nocturne {background-position: -1600px 0; width: 40px; height: 40px}
.thumbnail-Nidalee {background-position: -1640px 0; width: 40px; height: 40px}
.thumbnail-Nasus {background-position: -1680px 0; width: 40px; height: 40px}
.thumbnail-Morgana {background-position: -1720px 0; width: 40px; height: 40px}
.thumbnail-Mordekaiser {background-position: -1760px 0; width: 40px; height: 40px}
.thumbnail-MonkeyKing {background-position: -1800px 0; width: 40px; height: 40px}
.thumbnail-MissFortune {background-position: -1840px 0; width: 40px; height: 40px}
.thumbnail-MasterYi {background-position: -1880px 0; width: 40px; height: 40px}
.thumbnail-Maokai {background-position: -1920px 0; width: 40px; height: 40px}
.thumbnail-Malzahar {background-position: -1960px 0; width: 40px; height: 40px}
.thumbnail-Malphite {background-position: -2000px 0; width: 40px; height: 40px}
.thumbnail-Lux {background-position: -2040px 0; width: 40px; height: 40px}
.thumbnail-Leona {background-position: -2080px 0; width: 40px; height: 40px}
.thumbnail-LeeSin {background-position: -2120px 0; width: 40px; height: 40px}
.thumbnail-Leblanc {background-position: -2160px 0; width: 40px; height: 40px}
.thumbnail-KogMaw {background-position: -2200px 0; width: 40px; height: 40px}
.thumbnail-Kennen {background-position: -2240px 0; width: 40px; height: 40px}
.thumbnail-Kayle {background-position: -2280px 0; width: 40px; height: 40px}
.thumbnail-Katarina {background-position: -2320px 0; width: 40px; height: 40px}
.thumbnail-Kassadin {background-position: -2360px 0; width: 40px; height: 40px}
.thumbnail-Karthus {background-position: -2400px 0; width: 40px; height: 40px}
.thumbnail-Karma {background-position: -2440px 0; width: 40px; height: 40px}
.thumbnail-Jax {background-position: -2480px 0; width: 40px; height: 40px}
.thumbnail-JarvanIV {background-position: -2520px 0; width: 40px; height: 40px}
.thumbnail-Janna {background-position: -2560px 0; width: 40px; height: 40px}
.thumbnail-Irelia {background-position: -2600px 0; width: 40px; height: 40px}
.thumbnail-Heimerdinger {background-position: -2640px 0; width: 40px; height: 40px}
.thumbnail-Graves {background-position: -2680px 0; width: 40px; height: 40px}
.thumbnail-Gragas {background-position: -2720px 0; width: 40px; height: 40px}
.thumbnail-Garen {background-position: -2760px 0; width: 40px; height: 40px}
.thumbnail-Gangplank {background-position: -2800px 0; width: 40px; height: 40px}
.thumbnail-Galio {background-position: -2840px 0; width: 40px; height: 40px}
.thumbnail-Fizz {background-position: -2880px 0; width: 40px; height: 40px}
.thumbnail-FiddleSticks {background-position: -2920px 0; width: 40px; height: 40px}
.thumbnail-Ezreal {background-position: -2960px 0; width: 40px; height: 40px}
.thumbnail-Evelynn {background-position: -3000px 0; width: 40px; height: 40px}
.thumbnail-DrMundo {background-position: -3040px 0; width: 40px; height: 40px}
.thumbnail-Corki {background-position: -3080px 0; width: 40px; height: 40px}
.thumbnail-Chogath {background-position: -3120px 0; width: 40px; height: 40px}
.thumbnail-Cassiopeia {background-position: -3160px 0; width: 40px; height: 40px}
.thumbnail-Caitlyn {background-position: -3200px 0; width: 40px; height: 40px}
.thumbnail-Brand {background-position: -3240px 0; width: 40px; height: 40px}
.thumbnail-Blitzcrank {background-position: -3280px 0; width: 40px; height: 40px}
.thumbnail-Ashe {background-position: -3320px 0; width: 40px; height: 40px}
.thumbnail-Annie {background-position: -3360px 0; width: 40px; height: 40px}
.thumbnail-Anivia {background-position: -3400px 0; width: 40px; height: 40px}
.thumbnail-Amumu {background-position: -3440px 0; width: 40px; height: 40px}
.thumbnail-Alistar {background-position: -3480px 0; width: 40px; height: 40px}
.thumbnail-Akali {background-position: -3520px 0; width: 40px; height: 40px}
.thumbnail-Ahri {background-position: -3560px 0; width: 40px; height: 40px}
