.spell-thumbnail-Teleport, .spell-thumbnail-Stifle, .spell-thumbnail-Smite, .spell-thumbnail-Revive, .spell-thumbnail-Rally, .spell-thumbnail-Promote, .spell-thumbnail-Observer, .spell-thumbnail-Clarity, .spell-thumbnail-Heal, .spell-thumbnail-Ghost, .spell-thumbnail-Fortify, .spell-thumbnail-Flash, .spell-thumbnail-Exhaust, .spell-thumbnail-Ignite, .spell-thumbnail-Clairvoyance, .spell-thumbnail-Cleanse {background: url(../img/spell-thumbnail-sprite.png) no-repeat}
.spell-thumbnail-Teleport {background-position: 0 0; width: 32px; height: 32px}
.spell-thumbnail-Stifle {background-position: 0 -32px; width: 32px; height: 32px}
.spell-thumbnail-Smite {background-position: 0 -64px; width: 32px; height: 32px}
.spell-thumbnail-Revive {background-position: 0 -96px; width: 32px; height: 32px}
.spell-thumbnail-Rally {background-position: 0 -128px; width: 32px; height: 32px}
.spell-thumbnail-Promote {background-position: 0 -160px; width: 32px; height: 32px}
.spell-thumbnail-Observer {background-position: 0 -192px; width: 32px; height: 32px}
.spell-thumbnail-Clarity {background-position: 0 -224px; width: 32px; height: 32px}
.spell-thumbnail-Heal {background-position: 0 -256px; width: 32px; height: 32px}
.spell-thumbnail-Ghost {background-position: 0 -288px; width: 32px; height: 32px}
.spell-thumbnail-Fortify {background-position: 0 -320px; width: 32px; height: 32px}
.spell-thumbnail-Flash {background-position: 0 -352px; width: 32px; height: 32px}
.spell-thumbnail-Exhaust {background-position: 0 -384px; width: 32px; height: 32px}
.spell-thumbnail-Ignite {background-position: 0 -416px; width: 32px; height: 32px}
.spell-thumbnail-Clairvoyance {background-position: 0 -448px; width: 32px; height: 32px}
.spell-thumbnail-Cleanse {background-position: 0 -480px; width: 32px; height: 32px}
